@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book.otf');
}
@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.otf');
}

* {
  line-height: normal;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'CircularStd-Book';
}

a {
  outline: none;
  text-decoration: none;
}

.bg-blue {
  background-color: #448AC9;
  color: #FFF;
}
.bg-blue a { color: #FFF; }

.text-center { text-align: center; }

.container,
.container-fluid {
  display: block;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  clear: both;
}
.container-fluid {
  max-width: 100%;
}
.row {
  display: inline-block;
  width: 100%;
}
@media (max-width: 767px) {
  .main-container {
    margin-bottom: 100px;
  }
}


/**
 * Visibility
 */
.mobile-show { display: none !important; }
@media (max-width: 767px) {
  .mobile-hide { display: none !important; }
  .mobile-show { display: inline-block !important; }
}


/**
 * Form fields
 */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'] {
  padding: 32px 30px;
  border: none;
  background-color: #FFF;
  color: #000;
  font-size: 50px;
  font-family: 'CircularStd-Book';
  text-align: center;
  outline: none;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
::-webkit-input-placeholder { color: #CCC; font-size: 30px; }
::-moz-placeholder { color: #CCC; font-size: 30px; }
:-ms-input-placeholder { color: #CCC; font-size: 30px; }
:-moz-placeholder { color: #CCC; font-size: 30px; }

.btn {
  padding: 32px 10px;
  border: none;
  background-color: #3DB771;
  color: #FFF;
  font-size: 50px;
  font-family: 'CircularStd-Bold';
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.btn:hover { opacity: .9; }
.btn-hidden {
  position: absolute;
  z-index: -10;
  opacity: 0;
}

.error { border: 2px solid #900 !important; }

.combined-fields {
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
}
.combined-fields .input-field {
  float: left;
  height: 126px;
  width: 68%;
  -webkit-border-radius: 20px 0 0 20px;
     -moz-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px;
}
.combined-fields .btn {
  float: right;
  height: 126px;
  width: 32%;
  -webkit-border-radius: 0 20px 20px 0;
     -moz-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0;
}

.radio-icon input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.radio-icon label {
  display: inline-block;
  height: auto;
  width: 180px;
  margin: 0 30px;
  cursor: pointer;
}
.radio-icon label img {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 0 25px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
     -moz-box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
          box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
}
.radio-icon label span {
  font-size: 26px;
}
@media (max-width: 767px) {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'] {
    padding: 24px 20px;
  }
  .btn {
    padding: 30px 10px;
    font-size: 40px;
  }
  .combined-fields.cf-mobile {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .combined-fields.cf-mobile .input-field,
  .combined-fields.cf-mobile .btn {
    width: 100%;
    margin-bottom: 40px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
  }
  .radio-icon label {
    max-width: 30%;
    margin: 0 15px;
  }
  .radio-icon label span { font-size: 4vw; }
}
@media (max-width: 480px) {
  .combined-fields .input-field,
  .combined-fields .btn {
    height: 70px;
    padding: 20px 10px;
    font-size: 28px;
  }
  .radio-icon label {
    max-width: 36%;
  }
}


/**
 * Header
 */
.header {
  display: inline-block;
  width: 100%;
  margin: 30px 0 100px;
}
.logo {
  float: left;
  display: inline-block;
  width: auto;
}
.logo a {
  display: inline-block;
  width: 180px;
}
.logo a img {
  height: auto;
  width: 100%;
}
.contact-number {
  float: right;
}
.contact-number a {
  margin: 25px 0 0;
  font-size: 26px;
}
@media (max-width: 767px) {
  .header {
    margin-top: 20px;
    padding: 0 12px;
  }
  .contact-number a {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 0;
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    font-size: 0;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0;
    margin-bottom: 50px;
  }
  .logo a {
    width: 120px;
  }
  .logo a img { margin-left: -8px; }
  .contact-number a {
    position: relative;
    top: -10px;
    height: 36px;
    width: 36px;
    margin: 0;
  }
}


/**
 * Breadcrumb
 */
.breadcrumb {
  position: relative;
  top: -15px;
  display: inline-block;
  width: 100%;
  margin: -15px 0 20px;
}
.breadcrumb .breadcrumb-link {
  display: inline-block;
  color: #94CEF0;
  font-size: 28px;
}
.breadcrumb .right-arrow::after {
  display: inline-block;
  height: 18px;
  width: 10px;
  margin: 0 7px 0 10px;
  background-image: url('../images/right-grey-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  color: #000;
  font-size: 22px;
  content: '';
}
.breadcrumb .dot::after {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 7px 4px 10px;
  background-image: url('../images/circle-grey-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  color: #000;
  font-size: 30px;
  content: '';
}
@media (max-width: 767px) {
  .breadcrumb {
    margin: 0;
  }
  .breadcrumb .breadcrumb-link {
    font-size: 14px;
  }
  .breadcrumb .right-arrow::after {
    height: 10px;
    width: 7px;

  }
  .breadcrumb .dot::after {
    height: 8px;
    width: 8px;
    margin-bottom: 1px;
  }
}


/**
 * Slides
 */
.slide {
  display: inline-block;
  width: 100%;
  margin: 0 0 100px;
}
.slide6 { display: none; }
.slide7 { display: none; }
.slide .slide-title {
  margin: 0 0 30px;
  font-size: 56px;
  font-family: 'CircularStd-Bold';
}
.slide .slide-sub-title {
  display: inline-block;
  width: 100%;
  margin: 35px 0 100px;
  font-size: 26px;
}
.slide .slide-sub-title a {
  color: #000;
  text-decoration: underline;
}
.slide .data-wrap {
  display: inline-block;
  max-width: 440px;
  width: 100%;
}
.slide .data-wrap.dw-lg { max-width: 1070px; }
.slide .location {
  margin: 0 0 15px;
  font-size: 26px;
  text-align: left;
}
.slide .location img {
  float: left;
  height: auto;
  width: 22px;
  margin: 3px 8px 0 0;
}
.slide .current-location {
  margin: 10px 0 0;
  color: #94CEF0;
  font-size: 26px;
  text-align: left;
}
.slide .current-location img {
  float: left;
  height: auto;
  width: 16px;
  margin: 2px 8px 0 0;
}
.slide3 .slide-title {
  margin-bottom: 60px;
}
.slide5 .slide-title {
  margin-bottom: 60px;
}
.slide7 .slide-title {
  margin-top: 100px;
}
.slide7 .slide-title img {
  height: auto;
  width: 90px;
  margin: 0 0 15px;
}
.slide7 .slide-title span {
  display: inline-block;
  width: 100%;
}
.slide8 .breadcrumb,
.slide9 .breadcrumb,
.slide10 .breadcrumb {
  top: -30px;
}
.slide8 .slide-title,
.slide9 .slide-title,
.slide10 .slide-title {
  margin: 20px 0 70px;
  color: #94CEF0;
}
.slide8 .slide-title span,
.slide9 .slide-title span,
.slide10 .slide-title span {
  color: #FFF;
}
.legal {
  margin: 30px 0 0;
  font-size: 14px;
  font-weight: 100;
  text-align: justify;
}
@media (max-width: 767px) {
  .slide8 .slide-sub,
  .slide9 .slide-sub,
  .slide10 .slide-sub {
    max-width: 450px;
    margin: 0 auto;
  }
  .slide .slide-title {
    margin-bottom: 70px;
    font-size: 5.8vw;
  }
  .slide3 .slide-title { margin-bottom: 120px; }
  .slide7 .slide-title { font-size: 9vw; }
  .slide8 .slide-title,
  .slide9 .slide-title,
  .slide10 .slide-title {
    color: #FFF;
    font-size: 7.4vw;
  }
  .slide .data-wrap {
    max-width: 65vw;
  }
  .slide .slide-sub-title {
    max-width: 360px;
    margin: 0 0 50px;
  }
  .slide .location {
    margin: 0 0 10px;
    font-size: 20px;
  }
  .slide .location img {
    width: 18px;
    margin-top: 1px;
  }
  .legal {
    margin-top: -10px;
    opacity: .7;
    font-size: 10px;
    font-weight: 100;
  }
}
@media (max-width: 480px) {
  .slide .data-wrap { max-width: 70vw; }
  .slide8 .slide-title,
  .slide9 .slide-title,
  .slide10 .slide-title {
    margin-bottom: 50px;
  }
}

.flat-size {
  display: inline-block;
  width: 100%;
}
.flat-size ul {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.flat-size ul li {
  float: left;
  height: auto;
  width: -webkit-calc(33.3333% - 16px);
  width:    -moz-calc(33.3333% - 16px);
  width:         calc(33.3333% - 16px);
  margin: 0 8px 18px;
}
.flat-size ul li a {
  float: left;
  height: 120px;
  width: 100%;
  padding: 46px 10px;
  font-size: 26px;
  background-color: #FFF;
  color: #000;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
     -moz-box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
          box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .3);
}
.flat-size ul li:hover a,
.flat-size ul li a.active {
  padding-top: 38px;
  background-color: #3DB771;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .flat-size ul { padding: 0 10px; }
  .flat-size ul li {
    width: -webkit-calc(50% - 16px);
    width:    -moz-calc(50% - 16px);
    width:         calc(50% - 16px);
  }
}
@media (max-width: 480px) {
  .flat-size ul li a {
    height: 80px;
    padding: 30px 10px;
    font-size: 22px;
  }
  .flat-size ul li a.active {
    padding-top: 24px;
    font-size: 30px;
  }
}


/**
 * Thank You page
 */
.thank-you .slide-sub {
  padding: 0 30px;
}
.thank-you .head {
  display: inline-block;
  width: 100%;
  margin: -40px 0 50px;
}
.thank-you .head img {
  display: inline-block;
  height: auto;
  width: 40px;
  margin: 0 0 10px;
}
.thank-you .head .slide-title {
  margin: 0;
  font-family: 'CircularStd-Book';
  font-weight: normal;
}
.thank-you .head .slide-title span {
  color: #95CDEF;
}
.thank-you .head .sub-title {
  font-size: 30px;
}
.thank-you .slide-body {
  display: inline-block;
  width: 100%;
}
.thank-you .slide-body .body-left {
  float: left;
  width: 60%;
}
.thank-you .body-left ul {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.thank-you .body-left ul li {
  float: left;
  width: 43%;
  margin: 0 7% 30px 0;
}
.thank-you .body-left ul li:nth-child(2n+1) {
  border-right: 2px solid #95CDEF;
}
.thank-you .body-left ul li .title {
  display: inline-block;
  width: 100%;
  color: #95CDEF;
  font-size: 24px;
  font-weight: normal;
}
.thank-you .body-left ul li .location { font-size: 24px; }
.thank-you .slide-body .body-right {
  float: left;
  width: 40%;
}
.thank-you .body-right .title-bottom {
  display: inline-block;
  width: 100%;
  margin: 5px 0 0;
  color: #95CDEF;
  font-size: 20px;
}
.thank-you .notice {
  display: inline-block;
  max-width: 370px;
  width: 100%;
  color: #95CDEF;
  font-size: 10px;
  font-style: italic;
}
@media (max-width: 767px) {
  .thank-you .slide-body .body-left {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 30px;
  }
  .thank-you .body-left ul li {
    width: 47%;
    margin-right: 5%;
  }
  .thank-you .body-left ul li:nth-child(2n) { margin-right: 0; }
  .thank-you .body-left ul li .title {
    font-size: 18px;
  }
  .thank-you .body-left ul li .location {
    font-size: 18px;
  }
  .thank-you .slide-body .body-right {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 30px;
  }
  .thank-you .notice.mobile-show {
    display: block !important;
    max-width: 440px;
    margin: 0 auto;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .thank-you .slide-sub { padding: 0; }
  .thank-you .slide-body .body-left { padding: 0 10px; }
  .thank-you .body-left ul { margin-left: 20px; }
  .thank-you .body-left ul li .title,
  .thank-you .body-left ul li .location {
    font-size: 16px;
  }
}


/**
 * Graphics at bottom
 */
.taxi-road-graphics {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  width: 100%;
}
.taxi-road-graphics .tr-grphics {
  float: left;
  width: 100%;
  margin: 0;
}
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img {
  float: left;
  display: inline-block;
  height: 240px;
  width: 100%;
  margin: 0 0 50px;
  background-image: url('../images/taxi-road-graphics.svg');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: -20px center;
  -webkit-transition: all 1s ease 0s;
     -moz-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
}
/*.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position---1000 { background-position: -20px center; }*/
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--1000 { background-position: -1000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--2000 { background-position: -2000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--3000 { background-position: -3000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--4000 { background-position: -4000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--5000 { background-position: -5000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--6000 { background-position: -6000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--7000 { background-position: -7000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--8000 { background-position: -8000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--9000 { background-position: -9000px center; }
.taxi-road-graphics .tr-grphics .tr-grphics-bg-img.graphics-position--10000 { background-position: -10000px center; }
@media (max-width: 767px) {
  .taxi-road-graphics .tr-grphics .tr-grphics-bg-img { margin-bottom: 10px; }
}


/**
 * Progress bar
 */
.progress-bar {
  display: inline-block;
  width: 100%;
  padding: 0 60px;
}
#myProgress {
  width: 100%;
  background-color: #94CEF0;
}
#myBar {
  width: 1%;
  height: 15px;
  background-color: #4CAF50;
  font-size: 0;
}
.progress-steps {
  position: relative;
  display: inline-block;
  width: 100%;
}
.progress-steps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.progress-steps ul li {
  position: relative;
  float: left;
  min-height: 1px;
  width: 33.3333%;
}
.progress-steps ul li:last-child { width: 0; }
.progress-steps ul li .completed-icon {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  display: inline-block;
  z-index: 10;
  height: 50px;
  width: 50px;
  margin: -45px 0 0 -15px;
  background-color: #94CEF0;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.progress-steps ul li .completed-icon img {
  height: 100%;
  width: 100%;
}
.progress-steps ul li .completed-icon .step-done { display: none; }
.progress-steps ul li .completed-icon .step-loader { display: inline-block; }
.progress-steps ul li:nth-child(1) .completed-icon .step-done { display: inline-block; }
.progress-steps ul li:nth-child(1) .completed-icon .step-loader { display: none; }
.progress-steps ul li .ps-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  margin: 30px 0 0 -78px;
  font-size: 26px;
}
.progress-steps ul li:nth-child(1) .ps-title {}
.progress-steps ul li:nth-child(2) .ps-title {}
.progress-steps ul li:nth-child(3) .ps-title {}
.progress-steps ul li:nth-child(4) .ps-title {}
@media (max-width: 767px) {
  .progress-bar {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
  }
  #myProgress {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .progress-steps ul li {
    width: 100%;
    margin-bottom: 50px;
  }
  .progress-steps ul li:last-child { width: 100%; }
  .progress-steps ul li .completed-icon {
    position: relative;
    float: left;
    margin: 0;
  }
  .progress-steps ul li .ps-title {
    position: relative;
    float: left;
    display: inline-block;
    width: -webkit-calc(100% - 50px);
    width:    -moz-calc(100% - 50px);
    width:         calc(100% - 50px);
    margin: 0;
    padding: 12px 0 0 50px;
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .progress-steps { padding: 0 15px; }
  .progress-steps ul li { margin-bottom: 15px; }
  .progress-steps ul li .ps-title {
    padding-top: 7px;
    padding-left: 15px;
    font-size: 18px;
  }
  .progress-steps ul li .completed-icon {
    height: 36px;
    width: 36px;
  }
}
/* End */


.calendar .datepicker-wrap {
  position: relative;
  display: inline-block;
  height: 380px;
  width: 380px;
}
.calendar input[type='text'] {
  position: absolute;
  height: 0;
  width: 0;
  margin: 0 0 0 -80px;
  padding: 0;
  opacity: 0;
}

/*!
 * Datepicker v0.6.5
 * https://github.com/fengyuanchen/datepicker
 *
 * Copyright (c) 2014-2018 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-03-31T06:16:43.444Z
 */
.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 318px;
  z-index: -1;
  color: #000;
  padding: 20px 30px 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  border: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}
.datepicker-container::before,
.datepicker-container::after {
  /*border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;*/
}
.datepicker-dropdown {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}
.datepicker-inline {
  position: static;
}
.datepicker-top-left,
.datepicker-top-right {
  /*border-top-color: #39f;*/
}
.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px;
}
.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f;
}
.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #fff;
  top: -4px;
}
.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}
.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}
.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}
.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px;
}
.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}
.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}
.datepicker-panel > ul[data-view='week']{
  border-bottom: 1px solid #ccc;
}
.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}
.datepicker-panel > ul::after {
  clear: both;
}
.datepicker-panel > ul > li {
  background-color: #FFF;
  cursor: pointer;
  float: left;
  height: auto;
  list-style: none;
  margin: 8px;
  width: 30px;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'Calibri', sans-serif;
  text-align: center;
}
.datepicker-panel > ul > li:hover {
  background-color: rgb(229, 242, 255);
}
.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}
.datepicker-panel > ul > li.highlighted {
  background-color: #3db771;
  color: #FFF;
  border-radius: 6px;
}
.datepicker-panel > ul > li.highlighted:hover {
  background-color: #3db771;
  color: #FFF;
  border-radius: 6px;
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  background-color: #3db771;
  color: #FFF;
  font-size: 20px;
  line-height: 19px;
  border-radius: 6px;
  box-shadow: 0 0 0 6px #3DB771;
}
.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}
.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: rgb(229, 242, 255);
}
.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}
.datepicker-panel > ul > li[data-view="month prev"] { margin: 0; }
.datepicker-panel > ul > li[data-view="month next"] { float: right; margin: 0; padding: 0; }
.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 231px;
  margin: 0;
  padding: 0;
  color: #5E5E5E;
  font-size: 26px;
}
.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}
.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #FFF;
  color: #E73231;
  font-size: 22px;
  cursor: default;
}
.datepicker-hide {
  display: none;
}
@media (max-width: 480px) {
  .calendar .datepicker-wrap {
    height: 295px;
    width: 295px;
  }
  .datepicker-container { width: 235px; }
  .datepicker-panel > ul > li {
    margin: 2px;
  }
  .datepicker-panel > ul > li[data-view="years current"],
  .datepicker-panel > ul > li[data-view="year current"],
  .datepicker-panel > ul > li[data-view="month current"] {
    width: 178px;
    font-size: 20px;
  }
  .datepicker-panel > ul > li[data-view="month prev"] { padding: 0; }
  .datepicker-panel > ul > li.picked,
  .datepicker-panel > ul > li.picked:hover {
    box-shadow: none;
  }
  .datepicker-panel > ul[data-view="week"] > li,
  .datepicker-panel > ul[data-view="week"] > li:hover { font-size: 18px; }
}


/**
 * Autocomplete - javascript
 */
.autocomplete {
  /*the container must be positioned relative:*/
  float: left;
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 99;
  margin: 1px 0 0;
  padding: 10px 0px;
  border: 1px solid #D4D4D4;
  border-bottom: none;
  border-top: none;
  background-color: #FFF;
  overflow: hidden;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #FFF;
  border-bottom: 1px solid #D4D4D4;
  color: #000;
}
.autocomplete-items div:nth-child(1) { border-top: 1px solid #D4D4D4; }
.autocomplete-items div:hover {
  margin: -1px;
  padding: 11px;
  /*when hovering an item:*/
  background-color: #3DB771;
  color: #FFF;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #FFF;
}
/* End */
